* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #1f2937;
    height: 60px;

}
 
.nav-container, .body-container {
 max-width: 70%;
 margin: 0 auto;
}
.nav-container {
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.navlinks {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.navlinks a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.showcase-section {
    background-color: #1f2937;
    padding: 100px 0;
}

.showcase {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.showcase-info  {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-self: center;
    flex: 0 1 50%;
}

.showcase-info  h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    
}
.showcase-info  p {
    color:#e5e7eb;
    font-size: 18px;
}

.showcase-info button {
    background-color: #3882f6;
    color: white;
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 8px 30px;
    margin-top: 15px;
    align-self: flex-start;
}

.showcase img {
    height: 200x;
    width: 400px;
    flex: 0 0 50%;
}

.info h2 {
    font-size: 36px;
    color:#1f2937;
    font-weight: extra-bold;
    text-align: center;
    margin: 50px 0;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-bottom: 150px;

}

.card {
    flex: 0 0 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
}

.card-img {
    max-width: 100%;
    height: auto;
    /* object-fit: cover; */
}

.testimonials {
    background-color: #e5e7eb;
    padding: 150px 0;
}

.testimonials figure {
    display: flex;
    flex-direction: column;
}

.testimonials figcaption {
    flex: 0 0 100px;
}

.testimonials blockquote {
    font-size: 36px;
    font-style: italic;
}

.testimonials figcaption {
    margin-left: 650px;
    font-weight: bold;
    font-size: 20px;
}

.cta {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    background-color: #3882f6;
    color: white;
    padding: 50px 100px;
    margin: 100px 0;
    border-radius: 5px;
}

.cta-text {
    flex: 5 0 400px;
    padding: 0 100px;
}

.cta button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 40px;
    flex: 0 0 150px;
}

.footer {
    background-color: #1f2937;
    color:#e5e7eb;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
